/*sass的函数语法
  函数可以把一些运算的功能抽取出来作为函数，
*/
@function p2r($size) {
  @return ($size/32)*1rem;
}
body {
  width: p2r(300);
}
/*混入*/
@mixin bgc($url,$width) {
  position: absolute;
  left: 50%;
  margin-left:(-$width/32/2)*1rem;
  background: url($url)no-repeat center /100% 100%;
}
/*使用mixin（要通过@include关键字调用）*/
.box {
  @include bgc("../img/loading-txt.png",320);
}